{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Tasker | Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form }}
        {{ restaurant_form }}
        <button type="submit">Sign Up</button>
    </form>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>